In [6]:
# task 1 take input of 10 elements and reverse it
list = []
list2 = []
for i in range(10):
    list.append(input("Enter one word = "))
list2 = list[::-1]
print(list)
print(list2)

Enter one word = 1
Enter one word = 2
Enter one word = 3
Enter one word = 4
Enter one word = 5
Enter one word = 6
Enter one word = 7
Enter one word = 8
Enter one word = 9
Enter one word = 10
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
['10', '9', '8', '7', '6', '5', '4', '3', '2', '1']

In [4]:
# task 2 Reverse a list using list method (reverse())
l1 = []
for i in range(10):
    l1.append(input("Enter one word "))
print(l1, "before reverse")
l1.reverse()
print(l1, "After reverse")

Enter one word 1
Enter one word 2
Enter one word 3
Enter one word 4
Enter one word 5
Enter one word 6
Enter one word 7
Enter one word 8
Enter one word 9
Enter one word 10
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'] before reverse
['10', '9', '8', '7', '6', '5', '4', '3', '2', '1'] After reverse

In [10]:
# task 3 add elements in list one by one (must contain duplicate values)
alist = []
for i in range(10):
    alist.append(input("enter element = "))
    print("Updated list looks like = ", alist)

enter element = One
Updated list looks like =  ['One']
enter element = Two
Updated list looks like =  ['One', 'Two']
enter element = Two
Updated list looks like =  ['One', 'Two', 'Two']
enter element = Three
Updated list looks like =  ['One', 'Two', 'Two', 'Three']
enter element = Four
Updated list looks like =  ['One', 'Two', 'Two', 'Three', 'Four']
enter element = Four
Updated list looks like =  ['One', 'Two', 'Two', 'Three', 'Four', 'Four']
enter element = Five
Updated list looks like =  ['One', 'Two', 'Two', 'Three', 'Four', 'Four', 'Five']
enter element = Six
Updated list looks like =  ['One', 'Two', 'Two', 'Three', 'Four', 'Four', 'Five', 'Six']
enter element = Seven
Updated list looks like =  ['One', 'Two', 'Two', 'Three', 'Four', 'Four', 'Five', 'Six', 'Seven']
enter element = Seven
Updated list looks like =  ['One', 'Two', 'Two', 'Three', 'Four', 'Four', 'Five', 'Six', 'Seven', 'Seven']

In [11]:
# task 4 print unique or non repeating values from list created in task 3, count() used
blist = []
for i in range(len(alist)):
    if(alist.count(alist[i]) == 1):
        blist.append(alist[i])
print(blist)

['One', 'Three', 'Five', 'Six']

In [12]:
# task 5 sort the list using sort()
print(blist)
blist.sort()
print(blist)

['One', 'Three', 'Five', 'Six']
['Five', 'One', 'Six', 'Three']

In [13]:
# task 6 remove all elements one by one - pop()
for i in range(len(blist)):
    print(blist, "before popping")
    blist.pop()
    print(blist, "after popping")
    print("_________________________________________________")
    if(len(blist) == 0):
        break

['Five', 'One', 'Six', 'Three'] before popping
['Five', 'One', 'Six'] after popping
_________________________________________________
['Five', 'One', 'Six'] before popping
['Five', 'One'] after popping
_________________________________________________
['Five', 'One'] before popping
['Five'] after popping
_________________________________________________
['Five'] before popping
[] after popping
_________________________________________________

In [14]:
# task 7 numbers divivsible by 7 and 5 in range 1500 and 2700
for i in range(1500, 2701):
    if(i % 7 == 0 and i % 5 == 0):
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [15]:
# task 8 print first 30 natural numbers but skip the ones divisible by number provided as input
lis = []
n = int(input("Enter value of n "))
for i in range(30):
    if(i % n == 0):
        continue
    else:
        lis.append(i)
print("List of numbers not divisible are", lis)

Enter value of n 5
List of numbers not divisible are [1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19, 21, 22, 23, 24, 26, 27, 28, 29]

In [30]:
# task 9 sum of two matrices. put result in another list
firstlist = [[ 1, 2, 3], [ 4, 5, 6], [ 7, 8, 9]]
secondlist=[[ 19, 18, 17] ,[ 16, 15, 14], [ 13, 12, 11]]
thirdlist = [[0,0,0],[0,0,0],[0,0,0]]
for i in range(3):
    for j in range(3): 
        thirdlist[i][j]= firstlist[i][j] + secondlist[i][j]
print("third list is = ", thirdlist)

third list is =  [[20, 20, 20], [20, 20, 20], [20, 20, 20]]

In [32]:
# task 10, create nested lists by taking 18 inputs, 9 values each list.

firstlist = []       
for i in range(3):   
    a = []
    for j in range(3):  
        n=int(input("enter number = "))
        a.append(n)
    firstlist.append(a) 
print("firstlist = ", firstlist)   
secondlist = []
for i in range(3):
    b = []
    for j in range(3):
        n1 = int(input("enter number = "))
        b.append(n1)
    secondlist.append(b) 
print("secondlist = ", secondlist)

enter number = 1
enter number = 2
enter number = 3
enter number = 4
enter number = 5
enter number = 6
enter number = 7
enter number = 8
enter number = 9
firstlist =  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
enter number = 19
enter number = 18
enter number = 17
enter number = 16
enter number = 15
enter number = 14
enter number = 13
enter number = 12
enter number = 11
secondlist =  [[19, 18, 17], [16, 15, 14], [13, 12, 11]]