In [63]:
from sklearn.datasets import fetch_20newsgroups
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import recall_score,f1_score,accuracy_score,precision_score , classification_report ,confusion_matrix

In [13]:
# task 1

task1 = fetch_20newsgroups(subset = 'all', categories = ['rec.motorcycles' , 'sci.electronics'])
x = task1.data
y = task1.target
xtrain,xtest,ytrain,ytest = train_test_split(task1.data,task1.target,train_size=0.8,random_state=1)

In [14]:
# task 2

mod = TfidfVectorizer()
modded = mod.fit_transform(xtrain)

mod2 = MultinomialNB()
mod2.fit(modded, ytrain)

ypred = mod2.predict(modded)

In [17]:
print(classification_report(ytest , ypred[:396]))

              precision    recall  f1-score   support

           0       0.52      0.50      0.51       207
           1       0.47      0.49      0.48       189

    accuracy                           0.49       396
   macro avg       0.49      0.49      0.49       396
weighted avg       0.50      0.49      0.50       396

In [18]:
confusion_matrix(ytest , ypred[:396])

array([[104, 103],
       [ 97,  92]], dtype=int64)

In [23]:
tab = pd.DataFrame({'Ypred': ypred[:30], 'Ytest': ytest[:30]})
tab

    Ypred  Ytest
0       1      0
1       0      0
2       1      0
3       1      0
4       1      1
5       0      1
6       1      0
7       0      1
8       1      0
9       0      1
10      1      0
11      1      0
12      0      0
13      1      1
14      1      0
15      0      0
16      0      1
17      1      0
18      0      1
19      0      1
20      1      0
21      1      0
22      1      0
23      1      0
24      0      0
25      0      0
26      0      1
27      0      0
28      1      1
29      0      1

In [39]:
# task 3

task2 = fetch_20newsgroups(subset = 'all', categories = ['rec.motorcycles' , 'sci.electronics' , 'rec.sport.baseball' , 'comp.graphics'])
x = task2.data
y = task2.target
xtrain,xtest,ytrain,ytest = train_test_split(task2.data,task2.target,train_size=0.8,random_state=1)

In [57]:
mod = TfidfVectorizer()
modded = mod.fit_transform(xtrain)

mod2 = MultinomialNB()
mod2.fit(modded, ytrain)

ypred = mod2.predict(modded)

In [51]:
print(classification_report(ytest , ypred[:790]))

              precision    recall  f1-score   support

           0       0.27      0.27      0.27       198
           1       0.21      0.20      0.21       191
           2       0.31      0.31      0.31       201
           3       0.28      0.29      0.29       200

    accuracy                           0.27       790
   macro avg       0.27      0.27      0.27       790
weighted avg       0.27      0.27      0.27       790

In [44]:
confusion_matrix(ytest , ypred[:790])

array([[53, 44, 44, 57],
       [55, 39, 55, 42],
       [40, 50, 63, 48],
       [48, 50, 44, 58]], dtype=int64)

In [45]:
tab = pd.DataFrame({'Ypred': ypred[:30], 'Ytest': ytest[:30]})
tab

    Ypred  Ytest
0       2      3
1       2      1
2       2      0
3       2      3
4       3      3
5       2      1
6       2      2
7       3      3
8       2      1
9       3      0
10      2      2
11      1      0
12      2      0
13      2      2
14      3      3
15      1      2
16      1      3
17      1      2
18      1      3
19      0      3
20      3      2
21      2      1
22      0      2
23      2      1
24      0      3
25      3      0
26      0      3
27      1      2
28      2      3
29      1      0

In [71]:
# task 4

test = ["What are the different parts of the computer?","Playing football is good for one's health." ,"In which games are you interested?", "It is unknown around the corner that turns that wheels.","I am intrested in increasing picture resolution of my computer", "The team might not win if there is rain"]
test = pd.Series(test)
test

0        What are the different parts of the computer?
1           Playing football is good for one's health.
2                   In which games are you interested?
3    It is unknown around the corner that turns tha...
4    I am intrested in increasing picture resolutio...
5              The team might not win if there is rain
dtype: object

In [72]:
t4 = Pipeline([('TFIDF', TfidfVectorizer()),
                ('Multinomial', MultinomialNB())])

t4.fit(xtrain, ytrain)

t4.predict(test)

array([3, 2, 2, 1, 0, 2], dtype=int64)