In [3]:
import pandas as pd
import statistics as st
import scipy.stats as sts

In [4]:
# task 1

t1mean = 4.30
t1std = 0.574

alpha = 0.1

sampdat = [3, 4, 5, 5, 4, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 4, 4, 3, 3, 3, 4, 3, 5, 4, 4, 5, 4, 4, 4, 5]
sampmean = st.mean(sampdat)
sampstd = st.stdev(sampdat)
sampvar2 = sampstd**(0.5)
sampsize = len(sampdat)
print(f'Sample mean = {sampmean} and sample standard deviaion = {sampstd} and \n sample variance = {sampvar2} and sample size = {sampsize}')

Sample mean = 4.09375 and sample standard deviaion = 0.640532792341279 and
 sample variance = 0.800332925938499 and sample size = 32

##### a)

Ho: mean > 4.3

Ha: mean < 4.3

Since a lesser value is in the test, we will use left tailed test

In [5]:
# b)


crval = sts.norm.ppf(1 - alpha)
print(f'The zcritical value is {crval}')

The zcritical value is 1.2815515655446004

In [6]:
# c) and d)

zstat = (sampmean - t1mean) / (t1std / st.sqrt(sampsize))
print('The value of z-statistics is',zstat)

pval = sts.norm.sf(abs(zstat))
print(f'The value of p-value is {pval}')

The value of z-statistics is -2.032624022574569
The value of p-value is 0.021045261297323523

##### e)

As per, decision rule:

i. If p-value < alpha : Rejection of Null Hypothesis(H0)

ii. If -z-critical > z-statistics > +z-critical : Rejection of Null Hypothesis(H0)

In our analysis, p_value < alpha and -z-critical < z-statistics < +z-critical, hence, The alternate hypothesis is accepted

In [7]:
# task 2

df = pd.read_csv('DS1_C5_S6_CityPrice_Data_Challenge.csv')
df

    California  Florida
0         2.55     2.25
1         2.36     2.40
2         2.38     2.19
3         2.43     2.39
4         2.73     2.39
5         2.67     2.50
6         2.54     2.33
7         2.24     2.33
8         2.43     2.40
9         2.80     2.49
10        2.50     2.19
11        2.64     2.29
12        2.25     2.59
13        2.38     2.23
14        2.61     2.41
15        2.71     2.56
16        2.80     2.48
17        2.49     2.29
18        2.69     2.28
19        2.43     2.39
20        2.23     2.59
21        2.61     2.58
22        2.57     2.53
23        2.36     2.26
24        2.57     2.39
25        2.56     2.58
26        2.38     2.29
27        2.43     2.27
28        2.71     2.45
29        2.25     2.56
30        2.64      NaN
31        2.27      NaN
32        2.18      NaN

###### a)

Ho: mean1 = mean2

Ha: mean1 != mean2

In [8]:
# b c and d

alpha = 0.01
calimean = df['California'].dropna().mean()
florimean = df['Florida'].dropna().mean()
calisize = len(df['California'].dropna())
florisize = len(df['Florida'].dropna())
calivar = df['California'].dropna().var()
florivar = df['Florida'].dropna().var()

zcrit = sts.norm.ppf(1 - alpha/2)
zstat = ((calimean - florimean) - 0) / (st.sqrt(calivar/calisize + florivar/florisize))
pval = sts.norm.sf(abs(zstat))*2

print(f'The zcritical value is {zcrit} \n The zstat value is {zstat} \n The pval is {pval}')

The zcritical value is 2.5758293035489004
 The zstat value is 2.6204113859127043
 The pval is 0.008782375132784235

In [9]:
# e)

if pval < alpha and zstat > zcrit:
    print('Null hypothesis rejected')
else:
    print('Null hypothesis accepted')

Null hypothesis rejected

###### task 3

a)

Ho: mean = 44

Ha: mean != 44

Since the question is of equals and not-equals of two values, we we use two tailed test

In [11]:
# b, c, d


alpha = 0.05

popmean = 44
sampmean = 45.1

popstd = 8.7

n = 68


zstat = (sampmean - popmean) / (popstd/ st.sqrt(n))
zcrit = sts.norm.ppf(1 - alpha/2)
pval = sts.norm.sf(abs(zstat))*2
print(f"""zstat is {zstat}
zcrit is {zcrit}
pval is {pval}""")

zstat is 1.042624411075732
zcrit is 1.959963984540054
pval is 0.29712227883324194

In [12]:
# e)

if pval < alpha and zstat > zcrit:
    print('Null hypothesis rejected')
else:
    print('Null hypothesis accepted')

Null hypothesis accepted