In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# task 1 Generate random prices of 20 cars with index values ranging from 101 to 120

carprice = pd.Series(np.random.randint(30000, 50000, 20), index = np.arange(101, 121))
print(carprice)

101    31872
102    39035
103    34968
104    31837
105    48789
106    32199
107    42564
108    42368
109    44948
110    31526
111    48509
112    41470
113    34416
114    44456
115    49205
116    33637
117    44306
118    41145
119    31675
120    33163
dtype: int32

In [3]:
# task 2 count of cars with price greater than 40000

smithcar40k = carprice[carprice > 40000]
print(np.size(smithcar40k))

10

In [12]:
# task 3 car prices for model numbers between 111 and 116

smithcarmod = carprice[10:16]
print(smithcarmod,'\n', max(smithcarmod), "is the highest price")

111    48509
112    41470
113    34416
114    44456
115    49205
116    33637
dtype: int64
 49205 is the highest price

In [5]:
# task 4 count of cars and their records of cars with price between 30000 and 40000

carbwt = carprice.between(30000, 40000)
print(f"""
There are {carbwt.size} cars priced between 30000 and 40000, 
they are 
{carprice[carbwt]}""")

There are 20 cars priced between 30000 and 40000,
they are
101    31872
102    39035
103    34968
104    31837
106    32199
110    31526
113    34416
116    33637
119    31675
120    33163
dtype: int32

In [6]:
# task 5 cars with price greater than the average car price

cargrtavg = carprice[carprice > carprice.mean()]
print(f"""
There are a total of {cargrtavg.size} cars with price higher than average that is {carprice.mean()}
They are,
{cargrtavg}""")

There are a total of 10 cars with price higher than average that is 39104.4
They are,
105    48789
107    42564
108    42368
109    44948
111    48509
112    41470
114    44456
115    49205
117    44306
118    41145
dtype: int32

In [7]:
# task 6 add 3 new cars to the list with specified model numbers and prices

new = pd.Series([34000, 45000, 54000], index = [201, 202, 203])
carprice = pd.concat([carprice, new])
print('Updated car price list \n', carprice)

Updated car price list
 101    31872
102    39035
103    34968
104    31837
105    48789
106    32199
107    42564
108    42368
109    44948
110    31526
111    48509
112    41470
113    34416
114    44456
115    49205
116    33637
117    44306
118    41145
119    31675
120    33163
201    34000
202    45000
203    54000
dtype: int64

In [8]:
# task 7 Offering 10% discount

f = pd.DataFrame(carprice)
ori = f[0]
f[0] = ori
disc = ori * 0.9
f[1] = disc
f.columns=["Original", "Discounted"]
f

     Original  Discounted
101     31872     28684.8
102     39035     35131.5
103     34968     31471.2
104     31837     28653.3
105     48789     43910.1
106     32199     28979.1
107     42564     38307.6
108     42368     38131.2
109     44948     40453.2
110     31526     28373.4
111     48509     43658.1
112     41470     37323.0
113     34416     30974.4
114     44456     40010.4
115     49205     44284.5
116     33637     30273.3
117     44306     39875.4
118     41145     37030.5
119     31675     28507.5
120     33163     29846.7
201     34000     30600.0
202     45000     40500.0
203     54000     48600.0

In [11]:
# task 8 number of cars before and after the discount between 30000 and 40000

pricebwt1 = f[((f.Original > 30000) & (f.Original < 40000))]
pricebwt2 = f[((f.Discounted > 30000) & (f.Discounted < 40000))]
print(f'There are {pricebwt1.size} cars before the discount has been applied')
print(f'There are {pricebwt2.size} cars after the discount has been applied')

There are 22 cars before the discount has been applied
There are 20 cars after the discount has been applied

In [34]:
# task 9 5 least expensive cars

srt = carprice.sort_values()
print(srt[0:5])

115    32057
116    33349
201    34000
201    34000
201    34000
dtype: int64