In [21]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [22]:
# task 1 Generate student id for 40 students

student_id=pd.Series(index=np.arange(1001,1041))
student_id

1001   NaN
1002   NaN
1003   NaN
1004   NaN
1005   NaN
1006   NaN
1007   NaN
1008   NaN
1009   NaN
1010   NaN
1011   NaN
1012   NaN
1013   NaN
1014   NaN
1015   NaN
1016   NaN
1017   NaN
1018   NaN
1019   NaN
1020   NaN
1021   NaN
1022   NaN
1023   NaN
1024   NaN
1025   NaN
1026   NaN
1027   NaN
1028   NaN
1029   NaN
1030   NaN
1031   NaN
1032   NaN
1033   NaN
1034   NaN
1035   NaN
1036   NaN
1037   NaN
1038   NaN
1039   NaN
1040   NaN
dtype: float64

In [52]:
# t2 assign marks for those students

MathL1Marks=np.random.randint(50,95,size=40)
mathRC=pd.Series(MathL1Marks,index=np.arange(1001,1041))
mathRC

1001    63
1002    75
1003    74
1004    90
1005    53
1006    78
1007    63
1008    82
1009    54
1010    59
1011    73
1012    84
1013    53
1014    72
1015    93
1016    57
1017    67
1018    62
1019    58
1020    80
1021    70
1022    77
1023    82
1024    52
1025    78
1026    87
1027    53
1028    70
1029    84
1030    50
1031    90
1032    91
1033    71
1034    52
1035    53
1036    92
1037    55
1038    88
1039    82
1040    61
dtype: int64

In [53]:
# t3 assign physics marks

PhyL1Marks=np.random.randint(40,95,size=40)
phyRC=pd.Series(PhyL1Marks,index=np.arange(1001,1041))
phyRC

1001    43
1002    82
1003    41
1004    56
1005    72
1006    79
1007    57
1008    40
1009    77
1010    74
1011    63
1012    52
1013    58
1014    74
1015    71
1016    80
1017    41
1018    48
1019    70
1020    91
1021    80
1022    70
1023    87
1024    45
1025    46
1026    68
1027    77
1028    70
1029    85
1030    59
1031    40
1032    71
1033    41
1034    64
1035    63
1036    48
1037    72
1038    65
1039    76
1040    89
dtype: int64

In [54]:
# t4 students who are eligible for level 2

L1Total=(mathRC.add(phyRC))
L1Total

L1Eligible=L1Total[L1Total>150]
print(L1Eligible)
np.size(L1Eligible)

1002    157
1006    157
1015    164
1020    171
1023    169
1026    155
1029    169
1032    162
1038    153
1039    158
dtype: int64

10

In [56]:
# task 5 part 1 -  assign marks for students in level 2 for maths and physcis

MathL2Marks=np.random.randint(50,100,size=10)
mathRC2=pd.Series(MathL2Marks,index=L1Eligible.index)
print(mathRC2)
np.size(mathRC2)

1002    56
1006    77
1015    65
1020    90
1023    79
1026    76
1029    77
1032    97
1038    70
1039    94
dtype: int64

10

In [58]:
# task 5 part 2

phyRC2=np.random.randint(30,100,size=10)
phyRC2=pd.Series(phyRC2,index=L1Eligible.index)
phyRC2

1002    87
1006    94
1015    73
1020    51
1023    54
1026    98
1029    80
1032    98
1038    93
1039    91
dtype: int64

In [59]:
# task 5 part 3 - Totalling scores of level 1 and level 2

L2Total=(mathRC2.add(phyRC2))
L2Total
L1L2Eligible=L1Eligible+L2Total
L1L2Eligible

1002    300
1006    328
1015    302
1020    312
1023    302
1026    329
1029    326
1032    357
1038    316
1039    343
dtype: int64

In [60]:
# task 6 students who are eligible for the screening test, marks > 300

TestEligible = L1L2Eligible[L1L2Eligible>300]
print(TestEligible)
np.size(TestEligible)

1006    328
1015    302
1020    312
1023    302
1026    329
1029    326
1032    357
1038    316
1039    343
dtype: int64

9

In [62]:
# task 7 Assign marks scored in the screening test and evaluate 40% of level 2 score + 60% of screening

MathTest=np.random.randint(50,95,size=9)
PhysicsTest=np.random.randint(50,95,size=9)


mathST=pd.Series(MathTest,index=TestEligible.index)
physicsST=pd.Series(PhysicsTest,index=TestEligible.index)

STtotal=(mathST+physicsST)

temp= (TestEligible.mul(0.4))

temp2=(STtotal*0.6)

marks=(temp.add(temp2))
print(marks)
np.size(marks)

1006    243.4
1015    211.4
1020    202.8
1023    195.8
1026    230.6
1029    219.8
1032    240.6
1038    223.0
1039    227.8
dtype: float64

9

In [66]:
# task 8 Students who are eligible for test, marks > 75%
# This cell and beyond not working on anaconda/ jupyter. Works on google collab

MathL1L2Marks=(mathRC[TestEligible.index] + mathRC2[TestEligible.index])


MathFinal=(MathL1L2Marks + MathTest)

PassMarks =(MathFinal.mul(0.75))
EligibleMarks=marks[MathFinal>PassMarks]
print(EligibleMarks)
np.size(EligibleMarks)

1006    243.4
1015    211.4
1020    202.8
1023    195.8
1026    230.6
1029    219.8
1032    240.6
1038    223.0
1039    227.8
dtype: float64

9

In [65]:
# task 9 push the calculated data into the dataframe

data = pd.DataFrame(EligibleMarks)
EligibleMarks
data[0] = EligibleMarks
data.columns = ["EligibleMarks"]
print("lowest marks =  ", min(data.EligibleMarks))
print("highest marks = ", max(data.EligibleMarks))
print("____________________________________________________")
data

lowest marks =   195.8
highest marks =  243.40000000000003
____________________________________________________

      EligibleMarks
1006          243.4
1015          211.4
1020          202.8
1023          195.8
1026          230.6
1029          219.8
1032          240.6
1038          223.0
1039          227.8